@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --admin-primary-color: #161b21;
  --admin-secondary-color: "#1D232C";
}

*,
*::before,
*::after {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
}

.sidebar-link-active {
  @apply bg-base-200 text-theme-black;
}

.admin-sidebar-link-active {
  @apply bg-[#0077E4] text-white;
}

::-webkit-scrollbar {
  @apply lg:w-[7px] w-[5px];
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  @apply lg:bg-[#0d0b0d]  bg-base-200;
}

.calendly > *::-webkit-scrollbar {
  display: none !important;
}

.calendly-inline-widget::-webkit-scrollbar {
  display: none !important;
}

.quill-css {
  & > h1 {
    @apply text-3xl;
  }

  & > h2 {
    @apply text-2xl;
  }

  & > h3 {
    @apply text-xl;
  }

  & > h4 {
    @apply text-lg;
  }

  & > h5 {
    @apply text-base;
  }

  & > h6 {
    @apply text-sm;
  }

  & > p {
    @apply text-base;
  }
}

.ql-snow .ql-stroke {
  fill: none;
  stroke: #fff !important;
}

.ql-snow .ql-fill {
  fill: #fff !important;
  stroke: none;
}

.ql-snow .ql-picker {
  color: #fff !important;
}

.ql-snow .ql-picker-options {
  background: var(--admin-primary-color) !important;
  color: #fff !important;
}

.youtube-video > iframe {
  height: 100%;
  width: 100%;
}

.react-tel-input .form-control:focus {
  border: 1px solid black !important;
  box-shadow: none !important;
}

.team-member {
  .team-member-experience {
    transform: translateY(100%);
    transition: 500ms;
  }
}

.team-member:hover {
  .team-member-experience {
    transform: translateY(0%);
  }
}

@media (-webkit-min-device-pixel-ratio: 1.25) and (min-width: 1024px) {
  .quill-css {
    & > h1 {
      @apply text-2xl;
    }

    & > h2 {
      @apply text-xl;
    }

    & > h3 {
      @apply text-lg;
    }

    & > h4 {
      @apply text-base;
    }

    & > h5 {
      @apply text-sm;
    }

    & > h6 {
      @apply text-xs;
    }

    & > p {
      @apply text-sm;
    }
  }
}
